@{
    ViewData["Title"] = "Kep Megjelenites";
}
<div class="text-center">
    <h1 class="display-4">Kép Megjelenítése</h1>
    <img src="@Program.ImageConverter((Model as Sportolo).IndexKep)" alt="Nad kép" class="img-fluid" />

</div>
